:root{
    /*Theme colors*/
    --color-pessego: #FCE2D1;
    --color-creme: #f3d2c3;
    --color-salmon: #f8c7b9;
    --color-smile: #edb2a2;
    --color-desert: #d68983;
    --color-white: hsl(0,0%,90%);
    --color-black: #000;
    --color-light: #85a2b2;

    /*Transitions*/
    --container-width-lg: 88%;
    --container-width-md: 92%;
    --transition: all 400ms ease;
}

/*Configurações Gerais - NÃO ALTERAR NADA*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0.5rem;
    background: #d68983;
}

::-webkit-scrollbar-thumb{
    width: 100%;
    background: #edb2a2;
    border-radius: 0.25rem;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, #FCE2D1, #f3d2c3, #d68983, #85a2b2);
    background-size: 400% 400%;
    height: 100vh;
    color: var(--color-black);
    line-height: 1.7;
}

h1, h2 {
    line-height: 1.1;
    font-weight: 400;
}

h1{
    font-size: 4rem;
    color: black;
}

h2{
    font-size: 3.5rem;
}

a{
    color: var(--color-black);
    transition: var(--transition)
}

a:hover{
    color: white;
}

.container{
    width:var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}

img{
    display: block;
    object-fit: cover;
    width: 100%;
}

/*NAVBAR STARTS*/

nav{
    height: 7rem;
    width: 100vw;
    display: grid;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/*classe nav no scroll usando JS*/

.window-scrolled{
    background: var(--color-pessego);
    border-bottom: 0.2rem solid var(--color-pessego) ;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Para tablets e telemóveis*/
.nav__toggle-btn{
    display: none;
}

.nav_logo{
    width: 7.5rem;
    filter: saturate(0) brightness(0.3);
}

.nav__links{
    display: flex;
    gap: 4rem;
}

.nav__socials{
    display: flex;
    gap: 1rem;
}

.nav__socials a {
    width: 2rem;
    height: 2rem;
    background: linear-gradient(var(--color-desert), var(--color-smile));
    border-radius: 0.5rem;
    color: #FCE2D1;
    place-items: center;
    display: grid;
}

.nav__socials a:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4) ;
}

/*NavBar Section End*/


/*Header section*/

header{
    max-width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: linear-gradient(var(--color-salmon), var(--color-smile));
    overflow: hidden;

}

.header_container{
    display: grid;
    grid-template-columns: 43% 53%;
    gap: 4%;
    margin-top: 10rem;
    position: relative;

}

.header_image-bg{
    background: #85a2b2;
    height: 22rem;
    width: 16rem;
    position: absolute;
}

.header_image-lg{
    width: 29rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: var(--transition);
}

.header_image-sm{
    width: 28rem;
    height: 28rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    right: 6rem;
    top: 15rem;
    transition: var(--transition);
}

.header_left:hover .header_image-sm{
    opacity: 0;
}

.header_left:hover .header_image-lg{
    filter: saturate(1) brightness(1);
    border: 10px solid var(--color-light);
    left: 1rem;
    right: 1rem;
}

.header_head {
    display:grid;
    gap: 2rem;
    align-items: flex-start;
}

.header_tag{
    color: black;
    font-size: 1.5rem;
}

.header_right p{
    margin-top: 1rem;
    width: 85%;
    font-size: 1.2rem;
}

/*apenas é visto em mobiles e tablets*/
.header_btn-md{
    display: none;

}

/* Frames animation - home section */
.header_frames{
    position: absolute;
    bottom: 25vh;
    left: 57rem;
    transition: var(--transition);
}

.header_frame{
    width: 15rem;
    border:0.4rem solid var(--color-black);
    box-shadow: 0 0 4rem rgba(0,0,0,0.5);
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: var(--transition);
}

.header_frame:nth-child(2){
    transform: rotate(20deg);
    top: 2rem;
    left: -2rem;
}

.header_frames:hover .header_frame{
    transform: rotate(0);
}

.header_frames:hover .header_frame:nth-child(2){
    top: 0;
    left: 18rem;
}

/* Configurações Gerais da Animação Círculo - home section */

.animation_btn{
    background: var(--color-desert);
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.header_btn{
    background: linear-gradient(-30deg, var(--color-smile), var(--color-white), var(--color-salmon));
    position: absolute;
    right: 6%;
    bottom: -3rem;
}
.header_btn:hover{
    box-shadow:  0 2rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-1rem);
    color: var(--color-black);
}

.animation_btn i {
    font-size: 3.5rem;
    position: absolute;
}

.animation_btn p{
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    animation: spinText 30s linear infinite;
}

.animation_btn p span{
    position: absolute;
    transform-origin: 0.3rem 5rem;

}

/* header - home section ends */

/* About me section starts */
#about{
    margin-top: 20rem;
    padding-top: 7rem;

}

.about_container{
    display: inline-flex ;
    grid-template-columns: 5rem 20rem auto;
    gap: 5rem;
    position: relative;
}

.about_title{
    position: absolute;
    top: -11rem;
    z-index: 1;
}

.about_image{
    position:relative;
}

.about_image-bg{
    width: 24rem;
    height: 24rem;
    bottom: -1rem;
    position: absolute;
    background-color: var(--color-light);
}

.about_image-lg{
    position:relative;
    left: 1rem;

    filter: saturate(0) brightness(0.3);
    transition: 500ms ease;
}

.about_image-sm{
    position: absolute;
    top: 10rem;
    left: 10rem;
    height: 20rem;
    width: 20rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 2rem 2rem 2rem rgba(230, 92, 17, 0.3);
    transition: 500ms ease;
}

.about_image:hover .about_image-sm{
    opacity: 0;
}

.about_image:hover .about_image-lg{
    filter: saturate(1) brightness(1);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
}

.about_right{
    margin-left: 10rem;
    margin-bottom: 10rem;
}

.about_right p {
    padding: 10px;
    font-size: 20px;

}

/* About me section end */

/* Gallery - section stars */

#gallery{
   /*margin: 5rem;*/
}

.gallery_head{
    display: flex;
    justify-content: space-between;
}

.gallery_container p{
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

.swiper-wrapper{
    margin-top: 5rem;
    height: 37rem !important;
    padding-bottom: 5rem;
}

.swiper-wrapper img{
    height: 100%;
}

.swiper-testemunho{
    margin-top: 5rem;
    height: 20rem;
    padding-bottom: 5rem;
}

.swiper-slide{
    border: 0.5rem solid var(--color-desert);
    height: fit-content;
    max-width: 36rem;
    overflow: hidden;
    transition: var(--transition);
}

.swiper-slide:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.1);
}

.swiper-slide img{
    filter: saturate(0);
    transition: var(--transition);
}

.swiper-slide:hover img {
    filter: saturate(1);
}

.swiper-pagination-bullet-active {
    background-color: #000 !important;
}


/*Contact form*/

.contact{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    /*height: 100%;*/
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.contact:after{
    content: '';
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    left: 0;
    top: 0;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
}
.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    margin-left: auto;
    margin-right: auto;
}

.contact_left{
    background:no-repeat center;
    background-size: cover;
    height: 100%;
}

.contact_right{
    padding: 25px 40px;
}

.text_efect{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

.text_efect:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

textarea{
    min-height: 150px;
}

.btn{
    background:var(--color-desert);
    width: 100%;
    padding: 0.5rem 1rem;
    color: rgb(1, 1, 1);
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    background-color: var(--color-black);
    border-radius: 16px;
    color: aliceblue;
}

.field:focus{
    background-color: #fff;
}

/*footer*/
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: #f1cfcd;
}
footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .content p,a{
    color: rgb(1, 1, 1);
}
footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
}
footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 16px;

}
footer .content p{
    text-align: justify;
}
footer .content .lower .topic{
    margin: 24px 0 5px 0;
}
footer .content .lower i{
    padding-right: 16px;
}
footer .content .middle{
    padding-left: 80px;
}
footer .content .middle a{
    line-height: 32px;
}
footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #000000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;

}
footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #000000;
    background: #e8c0b7;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #d8c0bb;
    transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
    background: none;
    color:  #eeb3a5;
}
footer .content .media-icons a{
    font-size: 45px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;

    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
}
.content .media-icons a:hover{
    border-color: #ded3d1;
}
footer .bottom{
    width: 100%;
    text-align: right;
    color: #060606;
    padding: 0 40px 5px 0;
}
footer .bottom a{
    color: #040404;
}
footer a{
    transition: all 0.3s ease;
}
footer a:hover{
    color: #fffffe;
}
@media (max-width:1100px) {
    footer .content .middle{
        padding-left: 50px;
    }
}
@media (max-width:950px){
    footer .content .box{
        width: 50%;
    }
    .content .right{
        margin-top: 40px;
    }
}
@media (max-width:560px){
    footer{
        position: relative;
    }
    footer .content .box{
        width: 100%;
        margin-top: 30px;
    }
    footer .content .middle{
        padding-left: 0;
    }
}

/*Login Page */

.wave{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    -webkit-filter: blur(35px);
    -moz-filter: blur(35px);
    -o-filter: blur(35px);
    -ms-filter: blur(35px);
    filter: blur(35px);
}

.container_login{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img_login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.img_login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.img_login img{
    width: 500px;
}

.form_login{
    width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
    margin: 15px 0;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content .input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #000000;
}

.login-content .input-div.one{
    margin-top: 0;
}

.i_login{
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i_login i{
    transition: .3s;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > .div > ::placeholder{
    position: absolute;
    font-weight: bold;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: .3s;
}

.input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: .4s;
}

.input-div:before{
    right: 50%;
}

.input-div:after{
    left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
    width: 50%;
}

.input-div.focus > div{
    top: -5px;
    font-size: 15px;
}

.input-div.focus > .i_login > i{
    color: #38d39f;
}


.input-div > div > input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: rgb(1, 1, 1);
    font-family: 'poppins', sans-serif;
}

.input-div.pass{
    margin-bottom: 4px;
}

.a_passwordForgot{
    display: block;
    text-align: right;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    transition: .3s;
}

.a_passwordForgot:hover{
    color: #38d39f;
}

.btn_login{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-weight: bold;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.btn_login:hover{
    background-position: right;
}


.btn_homePage{
    width: 10rem;
    padding: 0.5rem 1rem;
    background: #f8c7b9;
    color: rgb(1, 1, 1);
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn_homePage:hover{
    background-color: var(--color-black);
    border-radius: 16px;
    color: aliceblue;
}

/*footer*/

@media (max-width:500px) {
    .footer-menu ul{
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
/*Media login Page*/

@media screen and (max-width: 1050px){
    .container_login{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px){
    .form_login{
        width: 290px;
    }

    .login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img_login img{
        width: 400px;
    }
}

@media screen and (max-width: 900px){
    .containe_login{
        grid-template-columns: 1fr;
    }

    .img_login{
        display: none;
    }

    .wave{
        display: none;
    }

    .login-content{
        justify-content: center;
    }
}



/* ----------- Keyframes -----------*/

/* Media query - animation_btn*/
@keyframes spinText{
    to{
        transform: rotate(360deg);
    }
}

/* ----------- Media Query - medium screens -----------*/

@media screen and (max-width: 1077px){

    .container {
        width: var(--container-width-md);
        position: relative;
    }

    h1{
        font-size: 2.5rem;
        line-height: 1.3;
    }

    h2{
        font-size: 2.5rem;
    }

    /*navbar*/

    .nav__socials{
        display: none;
    }

    .nav__links{
        position: absolute;
        top:  100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__links li{
        height: 5rem;
        box-shadow:-3rem 3rem 3rem rgba(0, 0, 0, 0.7) ;
        perspective: 1000px;
    }


    /*Animation navbar*/
    .nav__links li{
        transform: rotate(-90deg) rotateY(90deg);
        transform-origin: top right;
        animation: animation 1s ease forwards;
        opacity: 0;
    }

    .nav__links li:nth-child(2){
        animation-delay: 300ms;
        transform-origin: top left;
        transform: rotateZ(90deg) rotateY(-90deg);
    }

    .nav__links li:nth-child(3){
        animation-delay: 600ms;
    }

    .nav__links li:nth-child(4){
        animation-delay: 900ms;
        transform-origin: top left;
        transform: rotateZ(90deg) rotateY(-90deg);

    }

    .nav__links li:nth-child(5){
        animation-delay: 1.2s;
    }


    @keyframes animation {
        to{
            transform: rotate(0);
            opacity: 1;
        }
    }


    .nav__links li a{
        background: var(--color-salmon);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
        border-top:  1px dotted var(--color-desert);
    }

    .nav__toggle-btn{
        display: inline-block;
        font-size: 2rem;
        background: transparent;
        cursor: pointer;
        color: azure;
    }

    #nav__toogle-close{
        display: none;
    }

    /*Header*/

    header{
        height: fit-content;
        padding: 14rem 0 3rem;
        display: grid;
        place-items: center;
    }

    .header_image-bg, .header_image-sm{
        display: none;
    }

    .header_container{
        grid-template-columns: 40% 54%;
        gap: 6%;
        margin: 0;
    }

    .header_tag{
        margin-bottom: 1rem;
    }

    .header_image-lg{
        filter: saturate(1) brightness(1);
        border: 1rem solid var(--color-light);
        top: 0;
        left: 0;
        width: 22rem;
    }

    .header_right p{
        width: 100%;
    }

    .header_frames, .animation_btn{
        display: none;
    }

    .header_btn-md{
        background: linear-gradient(135deg, var(--color-pessego), var(--color-desert));
        margin-top: 2rem;
        width: 15rem;
        text-align: center;
        display: inline-block;
        padding: 1rem 1.6rem;
        font-weight: 600;
        border-radius: 0.3rem;
    }

    /*About section*/

    #about{
        margin-top: 10rem;
    }
    .about_container{
        grid-template-columns: 40% 54%;
        gap: 6%;
    }

    .about_title{
        margin-top: 13rem;
    }

    .about_image-bg, .about_image-sm{
        display: none;
    }

    .about_image-lg {
        left: 0;
        top: 0;
        filter: saturate(1) brightness(1);
        width: 22rem;
        top: 15rem;
        margin-bottom: 20rem;
    }

    .about_right{
        margin: 0;
        bottom: 10rem;
    }

    .about_right p {
        margin-top: 1rem;

    }

    /*Services section*/

    #gallery{
        margin-top: 6rem;
    }

    .gallery_container p {
        width: 100%;
        margin-top: 2rem;
    }

    .swiper-wrapper{
        margin-top: 4rem;
        height: fit-content;

    }

    /*contact form*/

    .contacto{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}

/* ----------- Media Query - small screens -----------*/

@media screen and (max-width: 480px){
    h1, h2{
        font-size: 2rem;
        line-height: 1.3;
        color: var(--color-black);
    }

    header{
        padding: 0;
        padding-bottom: 1.2rem;
    }

    .header_container{
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
    }

    .header_image-lg{
        width: 80%;
        height: 20rem;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 15rem 15rem 0 0;
    }

    .header_head{
        justify-content: center;
    }

    .header_right p{
        margin-top: 0.4rem;
        flex-direction: column;
    }

    .header_title{
        margin-top: 1rem;
    }


    /*about section*/

    .about_container{
        grid-template-columns: 1fr;
        gap: 2rem;
        flex-direction: column;
    }

    .about_right p{
        font-size:1rem;
        padding-bottom: 15px;
    }


    .about_image-lg{
        display: none;
    }

    .about_title{
        margin-top: 5rem;
    }

    /*Gallery Carousel apresentation */

    #gallery{
        margin-top: 6rem;
    }

    .gallery_container p {
        margin-top:  1rem;
    }

    .swiper-wrapper{
        margin-top: 3rem;
        width: 100% !important;
    }

    h3, h4{
        font-size: 0.8rem;
    }
}
.toggleComment{
    display: none;
}

@media screen and (max-width: 600px){
    .contact-box{
        grid-template-columns: 1fr;
    }
    .contact_left{
        display: none;
    }
}

/* CSS IMAGE GALERY */

.input-gallery{
    display: none;
}
.gallery-content{
    width: 90%;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.text-gallery{
    font-weight: bold;
    font-size: 5rem;
    margin: 40px 0;
    position: relative;
}

.text-gallery::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: black;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }

    50%{
        width: 200px;
    }

    100%{
        width: 100px;
    }
}

.top-content{
    background-color: rgb(229, 236, 238);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    -webkit-box-shadow: 11px 7px 41px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 7px 41px 10px rgba(0,0,0,0.75);
    box-shadow: 11px 7px 41px 10px rgba(0,0,0,0.75);
}

h3{
    height: 100%;
    background-color: lightblue;
    line-height: 60px;
    padding: 0 50px;
}

label{
    display: inline-block;
    height: 100%;
    margin: 0 50px;
    line-height: 60px;
    font-size: 20px;
    color: var(--color-desert);
    cursor: pointer;
    transition: color .5s;
}

label:hover{
    color: #000;
}

.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}

.pic{
    position: relative;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
    transition: .5s;
}

.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}

.pic::before{
    content: "CATARINA BARBOSA";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: wheat;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.pic::after{
    content: "";
    width: 100%;
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
}

.pic:hover::after{
    height: 100%;
}

.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}

.labelMenu{
    display: inline-block;
    height: 100%;
    margin: 0 50px;
    line-height: 60px;
    font-size: 20px;
    color: var(--color-desert);
    cursor: pointer;
    transition: color .5s;
}

.labelMenu:hover{
    color: #000;
}
